.game-wrapper {
  width: 1010px;
  height: 710px;
  overflow: hidden;
  position: absolute;
  top: calc((100vh - 700px) / 2);
  left: calc((100vw - 1000px) / 2);

  section {
    position: relative;
    top: 5px;
    left: 5px;
  }
}

.murphy {
  width: 200px;
  transition: opacity 300ms;
  opacity: 0;
}

.character {
  position: relative;
}

.korzh {
  background-image: url('korzh.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 171px;
  left: 221px;
  z-index: 3;
  opacity: 0;
}

.game {
  border-radius: 4px;
  transition: background-color 400ms;
  background-color: transparent;
}
.game:after {
  content: '';
  position: absolute;
  top: calc(-1 * 4px);
  left: calc(-1 * 4px);
  height: calc(100% + 4px * 2);
  width: calc(100% + 4px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 4px);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 1s;
}

.game.active {
  background-color: #fff;
}

.game.active:after {
  opacity: 1;
}

.bat-wrapper {
  width: 80px;
  position: absolute;
  top: 185px;
  left: 293px;
  z-index: 2;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 2s;

  img {
    width: 100%;
    transform-origin: 0% 100%;
    transform: rotate(15deg);
  }
}

.bat-wrapper.active {
  ~.bonk {
    display: block;
  }
}

.bonk {
  position: absolute;
  top: 284px;
  left: 386px;
  font-size: 20px;
  display: none;
  z-index: 2;

  svg {
    width: 120px;
  }

  span {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.settings {
  display: flex;
  padding: 24px;
  gap: 16px;
  align-items: center;
  font-size: 24px;
  justify-content: flex-end;
  transform: scale(0.8);
  position: relative;
  top: -60px;

  div:nth-child(2) {
    padding-left: 24px;
  }
}

.alert {
  position: absolute;
  bottom: 150px;
  left: 340px;
  font-size: 30px;
  opacity: 0;
}




